#pause-start-button {
  top: 1%;
  left: 1%;
  position: absolute;
  height: 4%;
  width: 4%;
  background-color: black;
  /* /background-color: red; */
}

#start-button {
  top: 1%;
  left: 5%;
  position: absolute;
  height: 4%;
  width: 4%;
  background-color: red;
}
